#BlockArea{
  border-width: 3px!important;
  height: 500px;
  margin-top: 150px;
  position: relative;
  }

  #Play{
    position: absolute;
    left:300px;
    top: 50px;
  }

  #ShowString{
    position: absolute;
    left:412px;
    top: 50px;
  }

  #HelloWorld{
    position: absolute;
    left:498px;
    top: 77px;
  }

  #Runico{
    position: absolute;
    top:10px;
    right: 100px;
  }

  #Debugico{
    position: absolute;
    top:10px;
    right: 30px;
  }
  
  #Importico{
    position: absolute;
    bottom:10px;
    right: 10px;
  }