.navbar navbar-expand-md navbar-light mb-4 {
    background-color: #fac218;
}

#dropdownMenuButton{
    color:white;
    width: 15%;
    margin: 1%;
}
.dropdown-menu {
    display: block;
    opacity: 0;
    padding: 0;
    max-height: 0;
    width: 15%;
    overflow: hidden;
    transition: all .3s ease-in;
    background: #e0dadc;
}
.dropdown-menu.show {
    max-height: 500px;
    opacity: 1;
    padding: 0.5rem 0;
}